In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
base_site = "https://www.espncricinfo.com/rankings/content/page/211271.html"
response = requests.get(base_site)
response.ok

True

In [3]:
ra = response.text
soups = BeautifulSoup(ra,"html.parser")
table = soups.find_all("table",class_ = "StoryengineTable")

In [4]:
len(table)

5

In [5]:
odi = table[1]

In [6]:
odi

<table class="StoryengineTable">
<caption>21 August 2022</caption>
<tr class="head">
<th class="left">Pos</th>
<th class="left">Team</th>
<th class="left">Matches</th>
<th class="left">Points</th>
<th class="left">Rating</th>
</tr>
<tr>
<td class="left">1</td>
<td class="left">New Zealand</td>
<td class="left">19</td>
<td class="left">2355</td>
<td class="left">124</td>
</tr>
<tr>
<td class="left">2</td>
<td class="left">England</td>
<td class="left">27</td>
<td class="left">3226</td>
<td class="left">119</td>
</tr>
<tr>
<td class="left">3</td>
<td class="left">India</td>
<td class="left">30</td>
<td class="left">3326</td>
<td class="left">111</td>
</tr>
<tr>
<td class="left">4</td>
<td class="left">Pakistan</td>
<td class="left">21</td>
<td class="left">2237</td>
<td class="left">107</td>
</tr>
<tr>
<td class="left">5</td>
<td class="left">Australia</td>
<td class="left">23</td>
<td class="left">2325</td>
<td class="left">101</td>
</tr>
<tr>
<td class="left">6</td>
<td class="left">South Africa</td>
<td class="left">21</td>
<td class="left">2111</td>
<td class="left">101</td>
</tr>
<tr>
<td class="left">7</td>
<td class="left">Bangladesh</td>
<td class="left">30</td>
<td class="left">2753</td>
<td class="left">92</td>
</tr>
<tr>
<td class="left">8</td>
<td class="left">Sri Lanka</td>
<td class="left">29</td>
<td class="left">2658</td>
<td class="left">92</td>
</tr>
<tr>
<td class="left">9</td>
<td class="left">West Indies</td>
<td class="left">41</td>
<td class="left">2902</td>
<td class="left">71</td>
</tr>
<tr>
<td class="left">10</td>
<td class="left">Afghanistan</td>
<td class="left">16</td>
<td class="left">1071</td>
<td class="left">67</td>
</tr>
<tr>
<td class="left">11</td>
<td class="left">Ireland</td>
<td class="left">23</td>
<td class="left">1214</td>
<td class="left">53</td>
</tr>
<tr>
<td class="left">12</td>
<td class="left">Scotland</td>
<td class="left">27</td>
<td class="left">1254</td>
<td class="left">46</td>
</tr>
<tr>
<td class="left">13</td>
<td class="left">Zimbabwe</td>
<td class="left">22</td>
<td class="left">880</td>
<td class="left">40</td>
</tr>
<tr>
<td class="left">14</td>
<td class="left">Netherlands</td>
<td class="left">21</td>
<td class="left">673</td>
<td class="left">32</td>
</tr>
<tr>
<td class="left">15</td>
<td class="left">UAE</td>
<td class="left">22</td>
<td class="left">697</td>
<td class="left">32</td>
</tr>
<tr>
<td class="left">16</td>
<td class="left">USA</td>
<td class="left">23</td>
<td class="left">725</td>
<td class="left">32</td>
</tr>
<tr>
<td class="left">17</td>
<td class="left">Oman</td>
<td class="left">30</td>
<td class="left">919</td>
<td class="left">31</td>
</tr>
<tr>
<td class="left">18</td>
<td class="left">Namibia</td>
<td class="left">15</td>
<td class="left">369</td>
<td class="left">25</td>
</tr>
<tr>
<td class="left">19</td>
<td class="left">Nepal</td>
<td class="left">22</td>
<td class="left">331</td>
<td class="left">15</td>
</tr>
<tr>
<td class="left">20</td>
<td class="left">PNG</td>
<td class="left">22</td>
<td class="left">134</td>
<td class="left">6</td>
</tr>
</table>

In [7]:
col = []
for i in odi.find_all("th"):
    col.append(i.text)
col

['Pos', 'Team', 'Matches', 'Points', 'Rating']

In [8]:
table = odi.find_all("td")

In [9]:
table

[<td class="left">1</td>,
 <td class="left">New Zealand</td>,
 <td class="left">19</td>,
 <td class="left">2355</td>,
 <td class="left">124</td>,
 <td class="left">2</td>,
 <td class="left">England</td>,
 <td class="left">27</td>,
 <td class="left">3226</td>,
 <td class="left">119</td>,
 <td class="left">3</td>,
 <td class="left">India</td>,
 <td class="left">30</td>,
 <td class="left">3326</td>,
 <td class="left">111</td>,
 <td class="left">4</td>,
 <td class="left">Pakistan</td>,
 <td class="left">21</td>,
 <td class="left">2237</td>,
 <td class="left">107</td>,
 <td class="left">5</td>,
 <td class="left">Australia</td>,
 <td class="left">23</td>,
 <td class="left">2325</td>,
 <td class="left">101</td>,
 <td class="left">6</td>,
 <td class="left">South Africa</td>,
 <td class="left">21</td>,
 <td class="left">2111</td>,
 <td class="left">101</td>,
 <td class="left">7</td>,
 <td class="left">Bangladesh</td>,
 <td class="left">30</td>,
 <td class="left">2753</td>,
 <td class="left">92</td>,
 <td class="left">8</td>,
 <td class="left">Sri Lanka</td>,
 <td class="left">29</td>,
 <td class="left">2658</td>,
 <td class="left">92</td>,
 <td class="left">9</td>,
 <td class="left">West Indies</td>,
 <td class="left">41</td>,
 <td class="left">2902</td>,
 <td class="left">71</td>,
 <td class="left">10</td>,
 <td class="left">Afghanistan</td>,
 <td class="left">16</td>,
 <td class="left">1071</td>,
 <td class="left">67</td>,
 <td class="left">11</td>,
 <td class="left">Ireland</td>,
 <td class="left">23</td>,
 <td class="left">1214</td>,
 <td class="left">53</td>,
 <td class="left">12</td>,
 <td class="left">Scotland</td>,
 <td class="left">27</td>,
 <td class="left">1254</td>,
 <td class="left">46</td>,
 <td class="left">13</td>,
 <td class="left">Zimbabwe</td>,
 <td class="left">22</td>,
 <td class="left">880</td>,
 <td class="left">40</td>,
 <td class="left">14</td>,
 <td class="left">Netherlands</td>,
 <td class="left">21</td>,
 <td class="left">673</td>,
 <td class="left">32</td>,
 <td class="left">15</td>,
 <td class="left">UAE</td>,
 <td class="left">22</td>,
 <td class="left">697</td>,
 <td class="left">32</td>,
 <td class="left">16</td>,
 <td class="left">USA</td>,
 <td class="left">23</td>,
 <td class="left">725</td>,
 <td class="left">32</td>,
 <td class="left">17</td>,
 <td class="left">Oman</td>,
 <td class="left">30</td>,
 <td class="left">919</td>,
 <td class="left">31</td>,
 <td class="left">18</td>,
 <td class="left">Namibia</td>,
 <td class="left">15</td>,
 <td class="left">369</td>,
 <td class="left">25</td>,
 <td class="left">19</td>,
 <td class="left">Nepal</td>,
 <td class="left">22</td>,
 <td class="left">331</td>,
 <td class="left">15</td>,
 <td class="left">20</td>,
 <td class="left">PNG</td>,
 <td class="left">22</td>,
 <td class="left">134</td>,
 <td class="left">6</td>]

In [10]:
table_list = []
start = 0
end = 5

for i in range(20):
    Pos, Team, Matches, Points, Rating = table[start:end]
    table_list.append([Pos.text, Team.text, Matches.text, Points.text, Rating.text])
    start +=5
    end += 5

In [11]:
table_list

[['1', 'New Zealand', '19', '2355', '124'],
 ['2', 'England', '27', '3226', '119'],
 ['3', 'India', '30', '3326', '111'],
 ['4', 'Pakistan', '21', '2237', '107'],
 ['5', 'Australia', '23', '2325', '101'],
 ['6', 'South Africa', '21', '2111', '101'],
 ['7', 'Bangladesh', '30', '2753', '92'],
 ['8', 'Sri Lanka', '29', '2658', '92'],
 ['9', 'West Indies', '41', '2902', '71'],
 ['10', 'Afghanistan', '16', '1071', '67'],
 ['11', 'Ireland', '23', '1214', '53'],
 ['12', 'Scotland', '27', '1254', '46'],
 ['13', 'Zimbabwe', '22', '880', '40'],
 ['14', 'Netherlands', '21', '673', '32'],
 ['15', 'UAE', '22', '697', '32'],
 ['16', 'USA', '23', '725', '32'],
 ['17', 'Oman', '30', '919', '31'],
 ['18', 'Namibia', '15', '369', '25'],
 ['19', 'Nepal', '22', '331', '15'],
 ['20', 'PNG', '22', '134', '6']]

In [12]:
import pandas as pd

In [13]:
odi_ranking = pd.DataFrame(table_list,columns = col)
odi_ranking

   Pos          Team Matches Points Rating
0    1   New Zealand      19   2355    124
1    2       England      27   3226    119
2    3         India      30   3326    111
3    4      Pakistan      21   2237    107
4    5     Australia      23   2325    101
5    6  South Africa      21   2111    101
6    7    Bangladesh      30   2753     92
7    8     Sri Lanka      29   2658     92
8    9   West Indies      41   2902     71
9   10   Afghanistan      16   1071     67
10  11       Ireland      23   1214     53
11  12      Scotland      27   1254     46
12  13      Zimbabwe      22    880     40
13  14   Netherlands      21    673     32
14  15           UAE      22    697     32
15  16           USA      23    725     32
16  17          Oman      30    919     31
17  18       Namibia      15    369     25
18  19         Nepal      22    331     15
19  20           PNG      22    134      6

In [14]:
# odi_ranking.to_csv("odi_rank.csv",index = False)

In [15]:
All = {}
formats = ["Test","Odi","T20","W-Odi","W-T20"] 
table = soups.find_all("table",class_ = "StoryengineTable")
a = 0
for i in range(len(table)):
    x = table[i].find_all("td")
    table_list = []
    start = 0
    end = 5
    y = int(len(x)/5)
    for i in range(0,y):
        Pos, Team, Matches, Points, Rating = x[start:end]
        table_list.append([Pos.text, Team.text, Matches.text, Points.text, Rating.text])
        start +=5
        end += 5
    All[formats[a]] = table_list
    a += 1
     print(pd.DataFrame(table_list,columns = col))

IndentationError: unexpected indent (423636787.py, line 18)

In [ ]:
All["Odi"]

In [ ]:
a