In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
happiness = pd.read_csv("World_Happiness_2015.csv")

In [5]:
happiness.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [6]:
mapping = {'Economy (GDP per Capita)':"Economy",'Health (Life Expectancy)':"Health",'Trust (Government Corruption)':"Trust"}

In [7]:
happiness.rename(mapping,axis = 1, inplace = True)

In [9]:
happiness.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### Nominal you know different but size and Direction not know.

#### Ordinal data khud bnaty hai 
#### we know Diff, direction but not size (short & taller but how much tall or short)

#### Ratio : We know diff , direction and size (Zero true)

In [11]:
def category(ele):
    if ele>1:
        return "high"
    else:
        return "low"

In [14]:
eco_high_low = happiness["Economy"].map(category)

In [17]:
happiness[eco_high_low == "high"]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
102,Lebanon,Middle East and Northern Africa,103,4.839,0.04337,1.02564,0.80001,0.83947,0.33916,0.04582,0.21854,1.57059
103,Hungary,Central and Eastern Europe,104,4.800,0.06107,1.12094,1.20215,0.75905,0.32112,0.02758,0.12800,1.24074
109,Iran,Middle East and Northern Africa,110,4.686,0.04449,1.00880,0.54447,0.69805,0.30033,0.05863,0.38086,1.69440
133,Bulgaria,Central and Eastern Europe,134,4.218,0.04828,1.01216,1.10614,0.76649,0.30587,0.00872,0.11921,0.89991
142,Gabon,Sub-Saharan Africa,143,3.896,0.04547,1.06024,0.90528,0.43372,0.31914,0.11091,0.06822,0.99895

### Series.map()
### Series.apply()
### Series.applymap()

In [18]:
def categories(ele,x):
    if ele>x:
        return "high"
    else:
        return "low"

In [20]:
happiness["Economy"].apply(categories,x = 1)

0      high
1      high
2      high
3      high
4      high
       ...
153     low
154     low
155     low
156     low
157     low
Name: Economy, Length: 158, dtype: object

In [21]:
happiness.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [22]:
cols = ['Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity']

In [25]:
hs = happiness[cols]

In [26]:
hs.applymap(category)

    Economy Family Health Freedom Trust Generosity
0      high   high    low     low   low        low
1      high   high    low     low   low        low
2      high   high    low     low   low        low
3      high   high    low     low   low        low
4      high   high    low     low   low        low
..      ...    ...    ...     ...   ...        ...
153     low    low    low     low   low        low
154     low    low    low     low   low        low
155     low    low    low     low   low        low
156     low    low    low     low   low        low
157     low    low    low     low   low        low

[158 rows x 6 columns]

In [27]:
main_cols = ['Country', 'Region', 'Happiness Rank', 'Happiness Score']

In [28]:
factor = ['Standard Error', 'Economy', 'Family', 'Health', 'Freedom', 'Trust',
       'Generosity', 'Dystopia Residual']

In [29]:
happiness[happiness["Country"] == "Pakistan"]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
80,Pakistan,Southern Asia,81,5.194,0.03726,0.59543,0.41411,0.51466,0.12102,0.10464,0.33671,3.10709

In [32]:
melt = pd.melt(happiness,id_vars = main_cols,value_vars=factor)
melt[melt["Country"] == "Pakistan"]

,Country,Region,Happiness Rank,Happiness Score,variable,value
80,Pakistan,Southern Asia,81,5.194,Standard Error,0.03726
238,Pakistan,Southern Asia,81,5.194,Economy,0.59543
396,Pakistan,Southern Asia,81,5.194,Family,0.41411
554,Pakistan,Southern Asia,81,5.194,Health,0.51466
712,Pakistan,Southern Asia,81,5.194,Freedom,0.12102
870,Pakistan,Southern Asia,81,5.194,Trust,0.10464
1028,Pakistan,Southern Asia,81,5.194,Generosity,0.33671
1186,Pakistan,Southern Asia,81,5.194,Dystopia Residual,3.10709